{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    {% block includes %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>